# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.py[cod]
*.sqlite3
.env

# Django
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db